<!-- chat menu -->
<div class="row g-3 pb-3">
    <a class="collapsed" data-bs-toggle="collapse" href="#instruction" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        More settings
    </a>
    <div>
        <div class="row g-3 collapse" id="instruction">
            <div class="col-12">
                <label for="character" class="form-label">Choose a character</label>
                {{ form.character }}
                <div class="invalid-feedback">
                    :D
                </div>
            </div>

            <div class="col-12">
                <label for="character" class="form-label">Choose a model</label>
                {{ form.training_model }}
                <div class="invalid-feedback">
                    :D
                </div>
            </div>
        </div>
    </div>
</div>