.chat-prompt {
    color: #8b8b8b;
    font-size: 16px;
    font-style: italic;
    padding: 20px 0;
}

.word-count {
    color: red;
}

.chat-word-count {
    color: #8b8b8b;
    font-size: 16px;
    font-style: italic;
    padding: 10px 0 0 0;
}

.dialogue-title {
    font-size: 12px;
}

.dialogue-message {
    font-size: 16px;
}

.hidden {
    display: none;
}

.message-outer-container {
    height: 300px;
    overflow: scroll;
}

.message-outer-container {
    background-color: #f8f8f8;
}