.chat-prompt {
    color: #8b8b8b;
    font-size: 16px;
    font-style: italic;
    padding: 20px 0;
}

.word-count {
    color: red;
}

.chat-word-count {
    color: #8b8b8b;
    font-size: 16px;
    font-style: italic;
    padding: 10px 0 0 0;
}

.dialogue-title {
    font-size: 12px;
}

.dialogue-message {
    font-size: 16px;
}

.hidden {
    display: none;
}

.message-outer-container {
    height: 300px;
    overflow: scroll;
}

.message-outer-container {
    background-color: #f8f8f8;
    padding: 20px;
}

.spinner {
    width: 48px;
    text-align: center;
  }
  
  .spinner > div {
    width: 12px;
    height: 12px;
    background-color: #dcdcdc;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }