html,
body {
    height: 100%;
}

.message {
    width: 90%;
}

.message textarea {
    width: 100%;
    height: 70%;
}

.training-text {
    height: 500px;
}

.submit {
    padding-top: 30px;
}

.question {
    height: 100px;
}

.password {
    width: 90%;
    height: 50px;
}

.container-white {
    margin-top: 20px;
    min-height: calc(100% - 133px);
}

.container-grey {
    background-color: #f4f4f4;
}

.review {
    color: #8b8b8b;
    font-size: 14px;
    font-style: italic;
}

.section-header {
    font-size: 2.5rem;
}

.text-bold {
    font-weight: bold;
}

.feature {
    opacity: 0.8;
}

.feature:hover {
    opacity: 1.0;
    cursor: pointer;
}

.feature-red {
    background-color: #ef4146;
    color: white;
}

.feature-purple {
    background-color: #5436da;
    color: white;
}

.feature-orange {
    background-color: #f4ac36;
    color: white;
}

.feature-green {
    background-color: #19c37d;
    color: white;
}

.feature-cyan {
    background-color: #197cc3;
    color: white;
}

.description p {
    font-family: emoji;
    font-style: italic;
}