.chat-prompt {
  color: #8b8b8b;
  font-size: 14px;
  font-style: italic;
}

.dialogue-title {
  font-size: 12px;
}

.dialogue-message {
  font-size: 16px;
  white-space: pre-line;
}

.hidden {
  display: none;
}

@media (min-width:576px) {
  .message-outer-container {
    min-height: calc(100vh - 260px);
    height: 320px;
    overflow: scroll;
    background-color: #fff;
    padding: 10px 20px 0 20px;
    border-radius: 12px;
    border: 1px rgb(239, 242, 245) solid;
  }
}

@media (max-width:575px) {
  .message-outer-container {
    min-height: calc(100vh - 340px);
    height: 320px;
    overflow: scroll;
    background-color: fff;
    padding: 10px 20px 0 20px;
    border-radius: 12px;
    border: 1px rgb(239, 242, 245) solid;
  }
}

.spinner {
  display: flex;
  padding-bottom: 20px;
  text-align: center;
}

/* For code formatter. */
.hljs {
  background-color: #f8f8f8;
}

.still-thinking {
  display: inline;
  margin-left: 10px;
}

.dialogue-message-human {
  background-color: rgb(236 242 251);
  border-radius: 6px;
}

.dialogue-message-ai {
  background-color: rgb(238, 251, 236);
  border-radius: 6px;
}