.entrance {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 24px;
}

.entrance-input {
  border:none;
  outline: none;
  resize: none;
  font-size: 24px;
}

.opacity-zero {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 2s;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s;
}