{% extends "embedding/base.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/about.css' %}">
{% endblock %}

{% block main %}

<div class="container px-4 py-5">
    <div class="col-md-7 col-lg-8">
        <div class="about-question">
            <h4 class="mb-3">Who are you</h4>
            <p>We are L5.</p>
        </div>
        <div class="about-question">
            <h4 class="mb-3">What is this about</h4>
            <p>This website brings together several interesting AI products.</p>
        </div>
        <div class="about-question">
            <h4 class="mb-3">What is your mission</h4>
            <p>We make the most advanced AI technology available and accessible to everyone in the world.</p>
            <p>When we talk about AI, we want to talk about a technology that is <span
                    style="font-weight: bold;">Valuable, Accessible, Affordable</span> and
                <span style="font-weight: bold;">Customizable</span> to everyone who is in need.
            </p>
        </div>
        <div class="about-question">
            <h4 class="mb-3">I have new feature requests</h4>
            <p>Awesome!</p>
            <p>Please let us know your feedback through the <a href="/contact/">Contact Us</a> link.</p>
        </div>
        <div class="about-question">
            <h4 class="mb-3">Are all the services free to use</h4>
            <p>Yes.</p>
        </div>
    </div>
</div>
{% endblock %}