{% extends "embedding/base.html" %}

{% block privatecss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'embedding/css/answer.css' %}">
{% endblock %}

{% block main %}
    <div class="container px-4 py-5">
        {% if ans %}
        <h1>Answers to the questions:</h1>
        <div>
        {% for a in ans %}
            <div>
               <h2>Question {{ forloop.counter }}</h2>
               <p>{{ a.Question }}</p>
              <p>{{ a.Answer }}</p>
            </div>
        {% endfor %}
        </div>
        {% endif %}

        {% if translated_text %}
        <h1>Translated text:</h1>
            <p class="translated-text">{{ translated_text }}</p>
        {% endif %}

        {% if fixed_text %}
        <h1>Text after fixing grammar issues:</h1>
            <p class="translated-text">{{ fixed_text }}</p>
        {% endif %}

        {% if summary_text %}
        <h1>Summary from the input text:</h1>
            <p class="translated-text">{{ summary_text }}</p>
        {% endif %}

        <h2>Thanks!</h2>
    </div>

{% endblock %}