{% extends "embedding/base.html" %}

{% block privatecss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'embedding/css/chat.css' %}">
{% endblock %}

{% block privatejs %}
    {% load static %}
    <script src="{% static 'embedding/js/chat.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="container px-4 py-5">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Enjoy a chat with AI</h4>
        <div class="instruction">
            <p>Instructions:</p>
            <p>1. Provide a correct secret word. Ask MJ if you don't have one.</p>
            <p>2. Type something and click GO!</p>
        </div>
        <p class="chat-prompt">The following is a conversation with an AI assistant. The assistant is helpful, creative, clever, and very friendly.</p>
        <p class="chat-prompt">Total Text Length: <span class="word-count"></span></p>
        <form class="needs-validation" novalidate="" action="/sendchat/" method="post" onsubmit="return confirmSubmit(this)">
          {% csrf_token %}
            <div class="row g-3">

            <div class="col-12">
              {{ form.message }}
            </div>

          </div>

            <hr class="my-4">

          <button class="send-button w-100 btn btn-primary btn-lg" type="button">GO</button>
        </form>
      </div>
    </div>
{% endblock %}