{% extends "embedding/base.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/chat.css' %}">
{% endblock %}

{% block privatejs %}
{% load static %}
<script src="{% static 'embedding/js/chat.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container px-4 py-5">
  <h4 class="mb-3">Enjoy a chat with AI</h4>
  <form class="row needs-validation" novalidate="" action="/chat/" method="post">
    {% csrf_token %}

    <div class="col-md-4 col-lg-3">
      <div class="row g-3 pb-3">
        <a class="collapsed" data-bs-toggle="collapse" href="#instruction" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          Show Instructions
        </a>
        <div>
          <div class="row g-3 collapse" id="instruction">
            <div class="instruction">
              <p>1. Choose your character and model</p>
              <p>2. Type something and click GO!</p>
            </div>

            <div class="col-12">
              <label for="character" class="form-label">Choose an character</label>
              {{ form.character }}
              <div class="invalid-feedback">
                :D
              </div>
            </div>

            <div class="col-12">
              <label for="character" class="form-label">Choose AI model</label>
              {{ form.training_model }}
              <div class="invalid-feedback">
                :D
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-8">
      <div class="row g-3">
        <div class="hidden">
          {{ form.dialogue_id }}
          <div name="human_title" class="dialogue-title">
            😀 You
          </div>
          <div name="ai_title" class="dialogue-title">
            {{ ai_emoji }} AI
          </div>
          <p name="human_msg" class="dialogue-message">
          </p>
          <p name="ai_msg" class="dialogue-message">
          </p>
        </div>
        <div class="message-outer-container">
          <div class="pb-2 chat-prompt">Conversation starts here.</div>
          <div class="message-container">
          </div>
          <div class="spinner" name="spinner" style="display: none">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
        {% include "comp/audio_comp.html" %}
        <div class="px-0 input-group">
          {{ form.message }}
          <button type="button" class="btn btn-primary send-button">Go</button>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}