{% extends "embedding/base.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/embedding_question.css' %}">
{% endblock %}

{% block privatejs %}
<script src="{% static 'embedding/js/embedding_question.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container px-4 py-5">
  <h4 class="mb-3">Build Q&A bot</h4>
  <form class="row needs-validation" novalidate="" action="/embedding/" method="post"
    onsubmit="return confirmSubmit(this)">
    {% csrf_token %}
    <div class="col-md-4 col-lg-3">
      <div class="row g-3">
        <div class="instruction">
          <p>Instructions:</p>
          <p>1. Select your Q&A model.</p>
          <p>2. Provide a question.</p>
          <p>3. Press GO.</p>
          <p>4. You can also click the New button to create a new model.</p>
        </div>

        <a href="/embedding_training/"><button class="w-100 btn btn-primary btn-md" type="button">+ New model</button></a>
      </div>
    </div>

    <div class="col-md-7 col-lg-8">
      <div class="row g-3">

        <div class="col-12">
          <label for="character" class="form-label">Choose Q&A model</label>
          {{ form.character }}
          <div class="invalid-feedback">
            :D
          </div>
        </div>

        <div class="col-12">
          <label for="question" class="form-label">Question</label>
          {{ form.question }}
        </div>
        <div class="col-12">
          <label for="answer" class="form-label">Answer</label>
          {{ form.answer }}
          <div class="spinner" name="spinner" style="display: none">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <button class="send-button w-100 btn btn-primary btn-md" type="submit">GO</button>
  </form>
</div>
</div>
{% endblock %}