{% extends "embedding/base.html" %}

{% block privatecss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'embedding/embedding.css' %}">
{% endblock %}

{% block privatejs %}
    <script src="{% static 'embedding/embedding.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="container px-4 py-5">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Train an embedding model</h4>
        <form class="needs-validation" novalidate="" action="/embedding/" method="post" onsubmit="return confirmSubmit(this)">
          {% csrf_token %}
            <div class="row g-3">

            <div class="col-12">
              <label for="email" class="form-label">Secret Word</label>
              {{ form.password }}
              <div class="invalid-feedback">
                :D
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Training Text</label>
              {{ form.message }}
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Question 1</label>
              {{ form.q1 }}
            </div>
            <div class="col-12">
              <label for="address2" class="form-label">Question 2</label>
              {{ form.q2 }}
            </div>
            <div class="col-12">
              <label for="address2" class="form-label">Question 3</label>
              {{ form.q3 }}
            </div>
            <div class="col-12">
              <label for="address2" class="form-label">Question 4</label>
              {{ form.q4 }}
            </div>
            <div class="col-12">
              <label for="address2" class="form-label">Question 5</label>
              {{ form.q5 }}
            </div>
          </div>

            <hr class="my-4">
            
          <button class="w-100 btn btn-primary btn-lg" type="submit">GO</button>
        </form>
      </div>
    </div>
{% endblock %}