{% extends "embedding/base.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/home.css' %}">
{% endblock %}

{% block privatejs %}
{% load static %}
<script src="{% static 'embedding/js/home.js' %}"></script>
{% endblock %}

{% block privatefeature %}
{% if enable_home_chat %}
{% load static %}
<!-- Home chat -->
<link rel="stylesheet" href="{% static 'embedding/css/home_chat.css' %}">
<script src="{% static 'embedding/js/home_chat.js' %}"></script>
{% endif %}
{% endblock %}

{% block main %}
<!--Hero -->
<div class="container-white">
    <div class="px-4 pt-5 text-center">
        <h1 class="display-4 pt-5 fw-bold">It's Just AI.</h1>
        <div class="col-lg-6 mx-auto">
            <p name="enjoy_label" class="lead mb-4">Enjoy</p>
            <div class="gap-2 d-sm-flex justify-content-sm-center mb-5">
            </div>
        </div>

        <!--Features -->
        <div>
            <div class="row g-4 px-5 py-1 row-cols-1 row-cols-md-3 row-cols-lg-6">
                <div class="feature col" name="feature_chat">
                    <a href="/chat/">
                        <div
                            class="new-feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                            <i width="1em" height="1em" class="bi-chat-left-text"></i>
                        </div>
                    </a>
                    <h3 class="fs-5">Chat</h3>
                </div>
                <div class="feature col" name="feature_embedding">
                    <a href="/embedding_question/">
                        <div
                            class="new-feature-icon d-inline-flex align-items-center justify-content-center feature-purple bg-gradient fs-2 mb-3">
                            <i width="1em" height="1em" class="bi-box2"></i>
                        </div>
                    </a>
                    <h3 class="fs-5">Q&A</h3>
                </div>
                <div class="feature col" name="feature_image">
                    <a href="/image/">
                        <div
                            class="new-feature-icon d-inline-flex align-items-center justify-content-center feature-red bg-gradient fs-2 mb-3">
                            <i width="1em" height="1em" class="bi-palette"></i>
                        </div>
                    </a>
                    <h3 class="fs-5 ">Image</h3>
                </div>
                <div class="feature col" name="feature_translation">
                    <a href="/translation/">
                        <div
                            class="new-feature-icon d-inline-flex align-items-center justify-content-center feature-orange bg-gradient fs-2 mb-3">
                            <i width="1em" height="1em" class="bi-translate"></i>
                        </div>
                    </a>
                    <h3 class="fs-5">Translation</h3>
                </div>
                <div class="feature col" name="feature_summary">
                    <a href="/summary/">
                        <div
                            class="new-feature-icon d-inline-flex align-items-center justify-content-center feature-green bg-gradient fs-2 mb-3">
                            <i width="1em" height="1em" class="bi-pencil-square"></i>
                        </div>
                    </a>
                    <h3 class="fs-5">Summary</h3>
                </div>
                <div class="feature col" name="feature_grammar">
                    <a href="/grammar/">
                        <div
                            class="new-feature-icon d-inline-flex align-items-center justify-content-center feature-cyan bg-gradient fs-2 mb-3">
                            <i width="1em" height="1em" class="bi-headset"></i>
                        </div>
                    </a>
                    <h3 class="fs-5">Grammar</h3>
                </div>
            </div>
        </div>

        <div class="description pt-5 fs-5 pb-5">
            <p name="p_feature_more">More are on the way</p>
            <p name="p_feature_chat" style="display:none;">Chat and have fun with human-like AI</p>
            <p name="p_feature_embedding" style="display:none;">Q&A Machine answers questions baesd on
                your documents</p>
            <p name="p_feature_image" style="display:none;">Meet Piccaso and Monet here, generating
                master
                pieces based on pure text description</p>
            <p name="p_feature_summary" style="display:none;">Generate simple summary that is easy to
                understand</p>
            <p name="p_feature_translation" style="display:none;">Have your text translated by AI</p>
            <p name="p_feature_grammar" style="display:none;">Fix any grammar & spelling in seconds
            </p>
        </div>

    </div>
</div>

<div class="col-12">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
        <div class="col-md-6 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2023 Built by L5. All rights reserved.</span>
        </div>
    </footer>
</div>

{% if enable_home_chat %}
  {% include "comp/home_chat.html" %}
{% endif %}

{% endblock %}