{% extends "embedding/base.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/image.css' %}">
{% endblock %}

{% block privatejs %}
<script src="{% static 'embedding/js/image.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container px-4 py-5">
  <h4 class="mb-3">Image generation</h4>
  <form class="row needs-validation" novalidate="" action="/image/" method="post" onsubmit="return confirmSubmit(this)">
    {% csrf_token %}
    <div class="col-md-3 col-lg-3 mobile-only">
      {% include "comp/image_menu.html" %}
    </div>

    <div class="col-md-9 col-lg-9 col-sm-12">
      <div class="row g-3">

        <div class="input-group col-lg-8 col-sm-12">
          {{ form.text }}
          <button type="button" class="btn btn-primary send-button">Generate Now</button>
        </div>

        <div class="spinner-container">
          <label for="address2" class="form-label">Generated Image</label>
          <div class="spinner mx-5" name="spinner" style="display: none">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>

        <div class="col-12 image-container" name="image_container">
        </div>

      </div>
    </div>

    <div class="col-md-3 col-lg-3 desktop-only">
      {% include "comp/image_menu.html" %}
    </div>

    <div class="hidden">
      <img name='generated_img' class="image mb-3" src="" style="display: none;">
    </div>
  </form>
</div>
</div>
{% endblock %}