{% extends "embedding/base.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/image.css' %}">
{% endblock %}

{% block privatejs %}
<script src="{% static 'embedding/js/image.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container px-4 py-5">
  <h4 class="mb-3">Image generation</h4>
  <form class="row needs-validation" novalidate="" action="/image/" method="post" onsubmit="return confirmSubmit(this)">
    {% csrf_token %}
    <div class="col-md-4 col-lg-3">
      <div class="row g-3">
        <div class="instruction">
          <p>Instructions:</p>
          <p>1. Provide some text to describe the image.</p>
          <p>2. Press OK.</p>
        </div>

        <div class="col-12">
          <label for="style" class="form-label">Choose an style</label>
          {{ form.style }}
          <div class="invalid-feedback">
            :D
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-8">
      <div class="row g-3">

        <div class="col-6">
          <label for="address2" class="form-label">Image Description</label>
          {{ form.text }}
        </div>
        <div class="col-6">
          <label for="address2" class="form-label">Generated Image</label>
          <img height="250" width="250" name='generated_img' scr="">
          <div class="spinner" name="spinner" style="display: none">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>

      </div>

      <hr class="my-4">

      <button class="send-button w-100 btn btn-primary btn-md" type="submit">GO</button>
  </form>
</div>
</div>
{% endblock %}