<html>
{% load static %}

<head>
<link rel="stylesheet" href="{% static 'embedding/embedding.css' %}">
    </head>
<body>
    <script src="{% static 'embedding/embedding.js' %}"></script>
    <h1>Train a new embedding model</h1>
    <form action="/embedding/" method="post" onsubmit="return confirmSubmit()">
    {% csrf_token %}
        <div class="message">
            <h2>Training text</h2>
            {{ form.message }}
        </div>
        <div>
            <h2>Question 1</h2>
            {{ form.q1 }}
        </div>
        <div>
            <h2>Question 2</h2>
            {{ form.q2 }}
        </div>
        <div>
            <h2>Question 3</h2>
            {{ form.q3 }}
        </div>
        <div>
            <h2>Question 4</h2>
            {{ form.q4 }}
        </div>
        <div>
            <h2>Question 5</h2>
            {{ form.q5 }}
        </div>
        <div class="submit">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>