{% extends "embedding/base_no_header.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/signin.css' %}">
{% endblock %}

{% block privatejs %}
{% load static %}
<script src="{% static 'embedding/js/signin.js' %}"></script>
{% endblock %}

{% block body %}

<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form class="needs-validation" novalidate="" action="/signin/" method="post">
      {% csrf_token %}
      <div style="display:none">{{ form.next }}</div>
      <a href="/">
        <img class="mb-4" src="{% static 'embedding/img/download.png' %}" alt="" width="72" height="72">
      </a>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        {{ form.username }}
        <label for="floatingInput">User name </label>
      </div>
      <div class="form-floating">
        {{ form.password }}
        <label for="password">Password</label>
      </div>

      <button class="signin-btn w-100 btn btn-lg btn-primary" type="submit">Welcome back</button>
      <p class="terms">No account? <a href="/signup/">Sign up here</a></p>

    </form>
    <div id="g_id_onload" data-client_id="396220595083-r61knuu3e39e7sj5dg0lcto14gno54jj.apps.googleusercontent.com"
      data-context="signin" data-ux_mode="redirect" data-callback="my_callback" data-auto_prompt="false">
    </div>

    <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signin_with"
      data-size="large" data-logo_alignment="left" data-width="300">
    </div>
  </main>
</body>
{% endblock %}