{% extends "embedding/base.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/translation.css' %}">
{% endblock %}

{% block privatejs %}
<script src="{% static 'embedding/js/translation.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container px-4 py-5">
  <form class="row needs-validation" novalidate="" action="/translation/" method="post"
    onsubmit="return confirmSubmit(this)">
    {% csrf_token %}
    <h4 class="mb-3">Translation</h4>

    <div class="col-md-4 col-lg-3 mobile-only">
      {% include "comp/translation_menu.html" %}
    </div>

    <div class="col-md-7 col-lg-9">
      <div class="row g-3">

        <div class="col-lg-6 col-md-12">
          <label for="text" class="form-label">Original Text</label>
          {{ form.text }}
        </div>
        <div class="col-lg-6 col-mj-12">
          <label for="translated_text" class="form-label">Translated Text</label>
          {{ form.translated_text }}
          <div class="spinner" name="spinner" style="display: none">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 desktop-only">
      {% include "comp/translation_menu.html" %}
    </div>
  </form>
</div>
</div>
{% endblock %}