{% extends "embedding/base.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/about.css' %}">
{% endblock %}

{% block main %}

<div class="container px-4 py-4">
    <div class="col-md-7 col-lg-8">
        <div class="about-question">
            <h4 class="mb-3">What is this website</h4>
            <p>This website brings together several interesting AI products.</p>
        </div>
        <div class="about-question">
            <h4 class="mb-3">What is your mission</h4>
            <p>When we talk about Artificial Intelligence, we want to talk about a technology that is <span
                    style="font-weight: bold;">Valuable, Accessible, Affordable</span> and
                <span style="font-weight: bold;">Customizable</span> to everyone who is in need.
            </p>
            <p>We believe that all people, not only the tech giants but also small businesses, not only the
                well-educated but also those who cannot afford college, not only the richest but also ordinary people,
                have the rights to enjoy the happiness and convenience brought by advanced technologies.</p>
            <p>We make it happen.</p>
        </div>
        <div class="about-question">
            <h4 class="mb-3">Are all the services free to use</h4>
            <p>Yeah.</p>
        </div>
        <div class="about-question">
            <h4 class="mb-3">Is it based on chatGPT?</h4>
            <p>Sometimes.</p>
        </div>
        <div class="about-question">
            <h4 class="mb-3">I have comments</h4>
            <p>Awesome!</p>
            <p>Please let us know your feedback through the <a href="/contact/">Contact Us</a> link or just send an email to zhuminjun01@gmail.com.</p>
        </div>
        <div class="about-question">
            <h4 class="mb-3">I'm looking for business cooperation</h4>
            <p>Please <a href="/contact/">Contact Us</a>, we look forward to hearing from you.</p>
        </div>
    </div>
</div>
{% endblock %}