{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>classgaga</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe("pk_live_51MyeVkHDR3k1aZOHkBfRpVmtiyS1aH1HGj9zqMy9h1P62ZEVyD6cZfi6cDrWT2YJw5opTUQJKKxgBAi87CjVu1NR00gW6uZ8Qs");

        function payment_init() {
            const btns = document.querySelectorAll(".payment-btn");
            btns.forEach(btn => {
                btn.addEventListener("click", e => {
                    create_order(e);
                });
            });
        }

        function async_fetch(e) {
            const request_data = new FormData();
            const prod_id = e.target.getAttribute("value");
            request_data.append('prod_id', prod_id);
            fetch("/create_order/", {
                method: "POST",
                body: request_data,
            })
                .then(response => response.json())
                .then((response) => {
                    location.href = response.url;
                    // window.open(response.url, '_blank').focus();
                });
        }

        async function create_order(e) {
            const prod_id = e.target.getAttribute("value");
            const request_data = new FormData();
            request_data.append('prod_id', prod_id);

            const response = await fetch("/gaga_intent/", {
                method: "POST",
                body: request_data,
            });

            const { clientSecret, price, } = await response.json();
            const appearance = {
                theme: 'stripe',
            };
            const paymentElementOptions = {
                layout: "tabs",
            };
            elements = stripe.elements({ appearance, clientSecret });
            const paymentElement = elements.create("payment", paymentElementOptions);
            paymentElement.mount("#payment-element");
        }

        document.addEventListener("DOMContentLoaded", () => {
            payment_init();
        });
    </script>

</head>

<body>
    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/"
                    class="justify-content-center d-flex align-items-center link-body-emphasis text-decoration-none">
                    <img class="fs-4" src="https://www.classgaga.com/images/system_logo.png" style="
    width: 50%;
">
                </a>

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Features</a>
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Enterprise</a>
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Support</a>
                    <a class="py-2 link-body-emphasis text-decoration-none" href="#">Pricing</a>
                </nav>
            </div>

            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
                <p class="fs-5 text-body-secondary">Become a Classgaga member today. Become a better yourself tomorrow.
                </p>
            </div>
        </header>

        <div id="payment-element">
        </div>
        
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Free trial</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">¥0<small class="text-body-secondary fw-light">/7
                                    days</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>1000 tokens included</li>
                                <li>Open to all grades</li>
                                <li>Email support</li>
                                <li>Help center access</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Sign up for
                                free</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 border-primary">
                            <h4 class="my-0 fw-normal border-primary">Professional</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">¥198<small class="text-body-secondary fw-light">/3
                                    Months</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>2000 tokens per day</li>
                                <li>Priority email support</li>
                                <li>Help center access</li>
                                <li>Plus free trial</li>
                            </ul>
                            <button value="prod_1" type="button" class="payment-btn w-100 btn btn-lg btn-primary">Get
                                started</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Enterprise</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">¥498<small
                                    class="text-body-secondary fw-light">/Year</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>2500 tokens per day</li>
                                <li>Phone and email support</li>
                                <li>Help center access</li>
                                <li>Plus free trial</li>
                            </ul>
                            <button value="prod_2" type="button"
                                class="payment-btn w-100 btn btn-lg btn-outline-secondary">Get
                                started</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</body>