{% extends "embedding/base.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/google-light.min.css">
<link rel="stylesheet" href="{% static 'embedding/css/olivia.css' %}">
{% endblock %}

{% block privatejs %}
{% load static %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script src="{% static 'embedding/js/olivia.js' %}"></script>
<script src="{% static 'embedding/js/olivia_utils.js' %}"></script>
<script src="{% static 'embedding/js/olivia_const.js' %}"></script>
<script src="{% static 'embedding/js/olivia_init.js' %}"></script>
<script src="{% static 'embedding/js/olivia_chat.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container px-4 py-5">
  <div class="hidden">
    {% csrf_token %}
    <div name="d_uuid"></div>
  </div>
  <div name="entrance_1" class="entrance">
    <div class="mb-5">
      <p name="msg_1" class="opacity-zero">Hi this is Olivia, your private therapist.</p>
      <p name="msg_1" class="opacity-zero">I'm here to listen to you and support you.</p>
    </div>
    <div class="mb-5">
      <p name="msg_1" class="opacity-zero">Who am I talking to?</p>
    </div>
    <div class="mb-5">
      <input type="text" rows="1" name="msg_1" class="w-100 entrance-input opacity-zero"></input>
    </div>
  </div>

  <div name="entrance_2" class="entrance hidden">
    <div class="mb-5">
      <p name="msg_2" class="opacity-zero">What is your age?</p>
    </div>
    <div class="mb-5">
      <input type="text" rows="1" name="msg_2" class="w-100 entrance-input opacity-zero"></input>
    </div>
  </div>

  <div name="entrance_3" class="entrance hidden">
    <div class="mb-5">
      <p name="msg_3" class="opacity-zero">And, how do you define yourself?</p>
    </div>
    <div class="mb-5">
      <div name="msg_3" class="opacity-zero">
        <div class="mb-3">
          <input type="radio" class="btn-check" name="options" id="option1" value="Male" autocomplete="off">
          <label name="gender" class="btn btn-secondary btn-lg" for="option1">He</label>
        </div>
        <div class="mb-3">
          <input type="radio" class="btn-check" name="options" id="option2" value="Female" autocomplete="off">
          <label name="gender" class="btn btn-secondary btn-lg" for="option2">She</label>
        </div>
      </div>
    </div>
  </div>

  <div name="entrance_4" class="entrance hidden">
    <div class="mb-5">
      <p name="msg_4" class="opacity-zero">Last, give me a PIN so I can remember who you are :D</p>
    </div>
    <div class="mb-5">
      <input type="text" rows="1" name="msg_4" class="w-100 entrance-input opacity-zero" maxlength="6"></input>
    </div>
  </div>

  <div name="entrance_5" class="entrance hidden">
    <div class="mb-5 spinner">
      <div name="msg_5" class="opacity-zero loader">Loading...</div>
    </div>
  </div>

  <div name="entrance_6" class="entrance hidden">
    <div class="mb-6">
      <div class="hidden">
        <p name="human_msg" class="dialogue-message-human">
        </p>
        <p name="ai_msg" class="dialogue-message">
        </p>
      </div>
      <div class="message-outer-container">
        <div class="message-container">
        </div>
        <div class="spinner invisible" name="spinner">
          <div class="loading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="px-0 input-group">
        <textarea rows="1" name="msg_7" class="w-100 pb-2 entrance-input"></textarea>
      </div>
      <div>
        <span name="badge_suicide" class="mt-3 badge rounded-pill text-bg-danger hidden">Suicidal</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}