{% extends "embedding/base.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/google-light.min.css">
<link rel="stylesheet" href="{% static 'embedding/css/olivia.css' %}">
{% endblock %}

{% block privatejs %}
{% load static %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script src="{% static 'embedding/js/olivia.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container px-4 py-5">
  {% csrf_token %}
  <div name="entrance_1" class="entrance">
    <div class="mb-5">
      <p name="msg_1" class="opacity-zero">Hi this is Olivia, your private therapist.</p>
      <p name="msg_1" class="opacity-zero">I'm here to listen to you and support you.</p>
    </div>
    <div class="mb-5">
      <p name="msg_1" class="opacity-zero">Who am I talking to?</p>
    </div>
    <div class="mb-5">
      <textarea rows="1" name="msg_1" class="entrance-input opacity-zero"></textarea>
    </div>
  </div>

  <div name="entrance_2" class="entrance hidden">
    <div class="mb-5">
      <p name="msg_2" class="opacity-zero">What is your age?</p>
    </div>
    <div class="mb-5">
      <textarea rows="1" name="msg_2" class="entrance-input opacity-zero"></textarea>
    </div>
  </div>

  <div name="entrance_3" class="entrance hidden">
    <div class="mb-5">
      <p name="msg_3" class="opacity-zero">Last question, how do you define yourself?</p>
    </div>
    <div class="mb-5">
      <div name="msg_3" class="opacity-zero">
        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
        <label name="gender" class="btn btn-secondary btn-lg" for="option1">He</label>

        <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
        <label name="gender" class="btn btn-secondary btn-lg" for="option2">She</label>
      </div>
    </div>
  </div>

  <div name="entrance_4" class="entrance hidden">
    <div class="mb-5 spinner">
      <div name="msg_4" class="opacity-zero loader">Loading...</div>
    </div>
  </div>

  <div name="entrance_5" class="entrance hidden">
    <div class="mb-5">
      <div class="container px-4 py-5">
        <form class="row needs-validation" novalidate="" action="/chat/" method="post">
          {% csrf_token %}

          <div class="col-md-8 col-lg-9">
            <div class="row g-3">
              <div class="hidden">
                {{ form.dialogue_id }}
                <p name="human_msg" class="dialogue-message">
                </p>
                <p name="ai_msg" class="dialogue-message">
                </p>
              </div>
              <div class="message-outer-container">
                <div class="message-container">
                </div>
                <div class="spinner" name="spinner" style="display: none">
                  <div class="loading">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div name="still_thinking" class="still-thinking" style="display: none;">
                      still thinking ...
                    </div>
                  </div>
                </div>
              </div>
              <div class="px-0 input-group">
                {{ form.message }}
                <button type="button" name="send_button" class="btn btn-primary send-button">
                  <div>
                    <i width="1em" height="1em" class="bi-send"></i>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}