{% extends "embedding/base.html" %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/play.css' %}">
{% endblock %}

{% block privatejs %}
<script src="{% static 'embedding/js/play.js' %}"></script>
{% endblock %}

{% block main %}

<div class="container px-4 py-5">
  <h4 class="mb-3">Quiz Terminator</h4>
  <form class="row needs-validation" novalidate="" action="/play/" method="post" onsubmit="return confirmSubmit(this)">
    {% csrf_token %}
    <div class="col-lg-6 col-md-12">
      <div class="row g-3">
        <div class="col-12">
          <label for="character" class="form-label">Choose a model</label>
          {{ form.llm_model }}
          <div class="invalid-feedback">
            :D
          </div>
        </div>
        <div class="col-12">
          <label for="address2" class="form-label">Upload Question</label>
          {{ form.image_f }}
          <div class="image-container mt-3"><img id="imagePreview" src="#" /></div>
          <!-- <div class="cover"></div> -->
        </div>
        <div class="center-spinner mt-3" name="spinner" style="display: none">
          <div class="loading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="col-12">
          <button class="send-button-image w-100 btn btn-primary btn-md mt-3 mb-3" type="button">Read Image</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="row g-3">
        <div class="col-12">
          <label for="address2" class="form-label">Parsed Question & Answer</label>
          <textarea class="form-control mb-3" rows="10" name="response_question"></textarea>
          <div class="center-spinner mt-3" name="spinner_question" style="display: none">
            <div class="loading">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <button class="send-button-question w-100 btn btn-primary btn-md mt-3 mb-3" type="button">Ask Question</button>
          <textarea class="form-control mb-3" disabled rows="10" name="response_answer"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}