{% extends "embedding/base.html" %}
{% load i18n %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/embedding_question.css' %}">
{% endblock %}

{% block privatejs %}
<script src="{% static 'embedding/js/embedding_question.js' %}"></script>
<script src="{% static 'embedding/js/wuxi.js' %}"></script>
{% endblock %}

{% block main %}
<div class="modal" tabindex="-1" id="exampleModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="border:none">
        <h5 class="modal-title">{% translate "Add Documents" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <input type="file" name="file_f" class="form-control" multiple="multiple" id="id_file_f" accept="application/pdf">
        </div>
      </div>
      <div class="modal-footer" style="border:none">
        <button type="button" name="modal_button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Submit" %}</button>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5">
  <h4 class="mb-3">{% translate "Build Q&A bot" %}</h4>
  <form class="row needs-validation" novalidate="" action="/embedding/" method="post"
    onsubmit="return confirmSubmit(this)">
    {% csrf_token %}

    {% if error_msg %}
    <div class="col-12">
      <div class="row g-3">
        <p>{{ error_msg }}</p>
      </div>
    </div>
    {% else %}
    <div class="col-12">
      <div class="row g-3">
        <div class="col-12">
          <label for="character" class="form-label">{% translate "Choose Q&A model" %}</label>
          {{ form.character }}
        </div>

        <div class="col-12">
          <label for="character" class="form-label">{% translate "Documents in this model" %}</label>
          <li class="list-group-item hidden">...</li>
          <li class="list-group-item hidden none">{% translate "list not available" %}</li>
          <ul class="list-group">
            <li class="list-group-item">...</li>
          </ul>
        </div>
        <!-- Button trigger modal -->
        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          {% translate "Add documents" %}
        </a>

        <div class="col-12">
          <label for="question" class="form-label">{% translate "Question" %}</label>
          {{ form.question }}
        </div>
        <div class="col-12">
          <label for="answer" class="form-label">{% translate "Answer" %}</label>
          {{ form.answer }}
          <div class="pt-2 spinner" name="spinner" style="display: none">
            <div class="loading">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>

      </div>
      <p name="response"></p>
      <button class="send-button w-100 btn btn-primary btn-md" type="submit">{% translate "GO" %}</button>
    </div>
    {% endif %}

  </form>
</div>
</div>
{% endblock %}