{% extends "embedding/base.html" %}
{% load i18n %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/embedding_question.css' %}">
{% endblock %}

{% block privatejs %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'embedding/js/checkout.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container px-4 py-5">
  <h4 class="mb-3">{% translate "Choose Size" %}</h4>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col-md-12 mt-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate "Big box" %}</h5>
              <p class="card-text">{% translate "Big box 1" %}</p>
              <a href="#" class="btn btn-primary">{% translate "Order Now" %}</a>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate "Small box" %}</h5>
              <p class="card-text">{% translate "Small box 1" %}</p>
              <a href="#" class="btn btn-primary">{% translate "Order Now" %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!-- <form id="payment-form">
    <div id="link-authentication-element">
    </div>
    <div id="payment-element">
    </div>
    <button id="submit">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pay now</span>
    </button>
    <div id="payment-message" class="hidden"></div>
  </form> -->
</div>
{% endblock %}