{% extends "embedding/base.html" %}
{% load i18n %}

{% block privatecss %}
{% load static %}
<link rel="stylesheet" href="{% static 'embedding/css/embedding_question.css' %}">
{% endblock %}

{% block privatejs %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'embedding/js/yangmei.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container px-4 py-5">
  <h4 class="mb-3">{% translate "Choose Size" %}</h4>
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col-md-12 mt-5">
          <div class="card mt-5">
            <div class="card-body">
              <h5 class="card-title">{% translate "Big box" %}</h5>
              <p class="card-text">{% translate "Big box 1" %}</p>
              <input type="radio" class="btn-check" name="age_options" id="size_option1" value="1">
              <label name="size" class="btn btn-primary" for="size_option1">{% translate "Order Now" %}</label>
            </div>
          </div>
          <div class="card mt-5">
            <div class="card-body">
              <h5 class="card-title">{% translate "Small box" %}</h5>
              <p class="card-text">{% translate "Small box 1" %}</p>
              <input type="radio" class="btn-check" name="age_options" id="size_option2" value="2">
              <label name="size" class="btn btn-primary" for="size_option2">{% translate "Order Now" %}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-12 mt-5">
          <div class="card mt-5">
            <div class="card-body">
              <input type="radio" class="btn-check" name="age_options" id="size_option1" value="1">
              <label name="size" class="btn btn-primary" for="size_option1">{% translate "1 box" %}</label>
            </div>
          </div>
          <div class="card mt-5">
            <div class="card-body">
              <input type="radio" class="btn-check" name="age_options" id="size_option2" value="2">
              <label name="size" class="btn btn-primary" for="size_option2">{% translate "2 boxes" %}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <form id="payment-form">
          <div id="link-authentication-element">
          </div>
          <div id="payment-element">
          </div>
          <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
          </button>
          <div id="payment-message" class="hidden"></div>
        </form>
      </div>
    </div>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
{% endblock %}