{% load i18n %}
<div class="row g-3 pb-3">
    <a class="collapsed" data-bs-toggle="collapse" href="#instruction" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Show Instructions
    </a>
    <div>
        <div class="row g-3 collapse" id="instruction">
            <div class="instruction">
                <p>Instructions:</p>
                <p>1. Select your Q&A model.</p>
                <p>2. Provide a question and press GO.</p>
            </div>
        </div>
    </div>
    <p>Click the New button to create a new model.</p>
    <a class="pb-5" href="/embedding_training/">
        <button class="w-100 btn btn-primary btn-md" type="button">
            {% translate "New model" %}</button></a>
</div>