<div class="row g-3 pb-3">
    <a class="collapsed" data-bs-toggle="collapse" href="#instruction" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Show Instructions
    </a>
    <div>
        <div class="row g-3 collapse" id="instruction">
            <div class="instruction">
                <p>1. Provide some text to the model, from where the model will learn knowledge.</p>
                <p>2. Provide at least 1 question.</p>
                <p>3. Press OK, then the model will try to answer the questions.</p>
            </div>
        </div>
    </div>
    <p>Click the Ask button to use a model.</p>
    <a class="pb-5" href="/embedding_question/"><button class="w-100 btn btn-primary btn-md" type="button">Ask
            Questions</button></a>
</div>